*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 90%;
    background-image: url(https://images.pexels.com/photos/7004955/pexels-photo-7004955.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
}
.container{
    margin: auto;
    margin-top: 2rem;
    width: 60%;
    text-align: center;
}
.container__opciones{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

.container__resultado{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}
.resultado__user{
    border: solid 1px #000;
    padding: 1rem;
}
.resultado__pc{
    border: solid 1px #000;
    padding: 1rem;
}
.resultado__empate{
    border: solid 1px #000;
    padding: 1rem;
}
.container__resultado input{
    width: 20%;
}